.ag-input-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;

    .ag-placeholder {
        color: rgb(138, 141, 145);
    }

    input {
        height: 100%;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
    }
}