.chat-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    >.right {
        display: none;
    }
    .left {
        width: 100%;
    }
    @media (min-width: 768px) {
        .left {
            width: 322px;
            height: 100%;
        }
        >.right {
            display: block;
            width: calc(100% - 322px);
            height: 100%;
        }
    }
    &.is-chat-view {
        >.right {
            display: block;
            width: 100%;
        }
        .left {
            display: none;
        }
        @media (min-width: 768px) {
            .left {
                display: block;
                width: 322px;
                height: 100%;
            }
            >.right {
                display: block;
                width: calc(100% - 322px);
                height: 100%;
            }
        }
    }

    .empty-placeholder {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 130px;

        .message {
            padding-left: 11px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .welcome {
                font-size: 30px;
            }

            .name {
                font-size: 30px;
                font-weight: 600;
            }
        }
    }

    .email-message {
        font-weight: 700;
        position: fixed;
        bottom: 30px;
        left: 50%;
    }
}
