.google-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    .google-logo {
        height: 60px;
        width: 60px;
        background: url('../../../assets/images/google.svg') no-repeat center;
    }
}
