.avatar {
    position: relative;
    background: #e5e4e8;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    align-items: center;
    display: flex;
    white-space: pre;
    text-overflow: ellipsis;
    font-size: 12px;
    color: rgb(0, 120, 212);
    font-weight: 800;

    &.avatar-3 {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        font-size: 25px;

        .indicator {
            bottom: 9px !important;
            right: 2px !important;
            width: 15px !important;
            height: 15px !important;
            border-radius: 10px !important;
        }
    }

    .indicator {
        position: absolute;
        border-width: 2px;
        width: 11px;
        height: 11px;
        border-radius: 8px;
        bottom: -3px;
        right: -3px;
        border: 2px solid #fff;
        &.online {
            background: #4dd965;
        }
        &.away {
            background-color: #ffba00;
        }
    }
}
