.room-wrapper {
    width: 100%;
    height: 100%;
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 88px;
        padding-left: 20px;
        padding-right: 15px;
        background-color: #ffffff;
        border-width: 0px 0px 1px;
        border-style: solid;
        border-color: rgba(69, 72, 82, 0.2);
    }
    .user-data-wrapper {
        display: flex;
        align-items: center;
        .go-back {
            height: 30px;
            width: 30px;
            background: url('../../../../assets/images/back.svg') no-repeat center;
            background-size: 90%;
            cursor: pointer;
            margin-right: 5px;
            display: block;
            @media (min-width: 768px) {
                display: none;
            }
        }
    }
    .user-data {
        display: flex;
        align-items: center;
        .user-name {
            font-weight: 600;
            white-space: pre;
            text-overflow: ellipsis;
            color: rgb(43, 44, 51);
            font-size: 24px;
            margin-left: 10px;
        }
    }
    .chat-inbox {
        background-color: rgba(0, 0, 0, 0);
        overflow: auto;
        height: calc(100% - 150px);
        padding: 0px 10px;
        @media (min-width: 560px) {
            padding: 0px 30px;
        }
        .chat-message {
            padding-top: 10px;
            display: flex;
            
            .message-wrapper {
                min-height: 30px;
                margin-left: 5px;
                .name-and-time {
                    margin-bottom: 5px;
                    font-size: 12px;
                    color: rgb(138, 141, 145);
                    user-select: text;
                    cursor: text;
                }
            }
            
            &.in-coming {
                padding-right: 36px;
                @media (min-width: 560px) {
                    padding-right: 76px;
                }
                .message-wrapper {
                    text-align: right;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
                .message-text {
                    border-radius: 0px 10px 10px 0px;
                    background-color: rgb(241, 241, 244);
                    margin-bottom: 3px;
                    padding: 11px;
                    text-align: left;
                    &:last-child {
                        border-bottom-left-radius: 10px;
                    }
                }
            }

            &.out-going {
                padding-left: 100px;
                flex-direction: row-reverse;
                @media (min-width: 560px) {
                    padding-left: 140px;
                }
                .message-wrapper {
                    text-align: right;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
                .message-text {
                    border-radius: 10px 10px 0px;
                    background: linear-gradient(90deg, rgb(0, 120, 212), rgb(0, 188, 242));
                    color: #ffffff;
                    margin-bottom: 3px;
                    padding: 11px;
                    text-align: left;
                    &:last-child {
                        border-top-right-radius: 0px;
                    }
                }
            }
        }
    }
    .chat-input-wrapper {
        height: 60px;
        padding: 0px 10px;
        @media (min-width: 560px) {
            padding: 0px 30px;
        }
        display: flex;
        align-items: center;
        .chat-input {
            background-color: #f1f1f4;
            padding: 5px 12px 5px 2px;
            width: calc(100% - 40px);
            height: 40px;
            border-radius: 5px;
            display: flex;
            align-items: center;
        }
        .text-area {
           width: 100%;
           padding-left: 5px;
        }
        .send-button {
            height: 30px;
            width: 30px;
            background: url('../../../../assets/images/send.svg') no-repeat center;
            background-size: 90%;
            cursor: pointer;
            margin-left: 5px;
            display: block;
        }
    }
}